.contac-me{
    background: #9e0e1a;
    color: #ffffff;
}
.last-projects{
    background: #424141;
    color: #ffffff;
}

.last-projects img{
    margin-bottom: 1rem
}


/* Our variables*/
/* $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

============================*/

/* @media (max-width: 600px)
.projects .project .info {
    flex: 1
} */
/* 
b {
    font-weight: 600;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 300;
}
 */
